<% crypto_name = fetch_crypto_asset(:full_name) %>
<div class="container main-content">
  <div class="row welcome-title justify-content-center">
    <h1>Guidelines for job posts.</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      Jobs postings with language that meet the below criteria will be removed if no action is taken
      <ul>
        <li>Constitute Harassment of any kind. Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, and unwelcome sexual attention.</li>
        <li>Racist, sexist, or discriminatory in nature.</li>
        <li>Pornographic, mature in nature, or overly obscene</li>
        <li>Inflammatory, offensive or demeaning material that is NSFW.</li>
        <li>Job postings that are meant to scam users in potential phishing attempts, or any postings that involved an exchange of money in the hiring process.</li>
      </ul>
      <%= crypto_name %> Jobs is not liable for any third party information posted to the platform. 
      Please see our terms of service for more information about liability and legal expectations involved in posting jobs, as well as applying for jobs found on our platform.
    </div>
  </div>
</div>
